<form [formGroup]="nuevoCorreo" (ngSubmit)="onSubmit()">
  <div>
    <div>
      <label>Titulo</label>
      <input type="text" formControlName="titulo" />
      <div *ngIf="submitted && formulario.titulo.errors">
        <div>El título: </div>
        <div *ngIf="formulario.titulo.errors.required">No puede estar vacio</div>
        <div *ngIf="formulario.titulo.errors.minlength">Deber contener más de 3 carácteres</div>
      </div>
    </div>
    <div>
      <label>Cuerpo</label>
      <input type="text" formControlName="cuerpo" />
      <div *ngIf="submitted && formulario.cuerpo.errors">
        <div>El cuerpo: </div>
        <div *ngIf="formulario.cuerpo.errors.required">No puede estar vacio</div>
        <div *ngIf="formulario.cuerpo.errors.minlength">Deber contener más de 10 carácteres</div>
      </div>
    </div>
  </div>
  <div>
    <label>Destinatario</label>
    <input type="text" formControlName="destinatario" />
    <div *ngIf="submitted && formulario.destinatario.errors">
      <div *ngIf="formulario.destinatario.errors.required">El destinatario no puede estar vacio</div>
      <div *ngIf="formulario.destinatario.errors.email">El destinatario debe ser un email válido</div>
    </div>
  </div>

  <div>
    <button>Enviar</button>
    <button type="reset" (click)="onReset()">Cancelar</button>
  </div>
</form>