<table style="width: 100%; border: 1px solid black;">
    <tr>
        <th>Leído</th>
        <th>Emisor</th>
        <th>Titulo</th>
        <th>Responder</th>
    </tr>
    <tr *ngFor="let correo of correos; index as i;">
        <td>
            <input type="radio" name="leido-{{i}}" [(ngModel)]="correo.leido" [value]=true disabled> Si
            <input type="radio" name="leido-{{i}}" [(ngModel)]="correo.leido" [value]=false disabled> No
        </td>
        <td>{{correo.emisor}}</td>
        <td>{{correo.titulo}}</td>
        <td>
            <button (click)="clickResponder()">Responder</button>
        </td>
    </tr>
</table>

<!-- Primero, realizaremos una prueba fuera -->
<app-nuevo-correo *ngIf="responder" correo="{titulo='A'}"></app-nuevo-correo>