@import '~@angular/material/theming';
@include mat-core();

$palette-primary: mat-palette($mat-grey, 500);
$palette-accent: mat-palette($mat-light-blue);
$palette-warn: mat-palette($mat-green, 800);


$light-theme: mat-light-theme(
  $palette-primary,
  $palette-accent,
  $palette-warn
);
